In [1]:
import pandas as pd;

In [4]:
student_card = pd.DataFrame({'ID':[20190103, 20190222, 20190531],
                             'name':['Kim', 'Lee', 'Jeong'],
                             'class':['H', 'W', 'S']})
student_card

         ID   name class
0  20190103    Kim     H
1  20190222    Lee     W
2  20190531  Jeong     S

In [6]:
student_card.loc[0]

ID       20190103
name          Kim
class           H
Name: 0, dtype: object