<a href="https://colab.research.google.com/github/curomame/python_data/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d = {'name':'lee'}
print(d['name'])

lee

In [3]:
import json

d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "lee"}

In [4]:
print(type(d_str))

<class 'str'>

In [6]:
d2 = json.loads(d_str)
print(d2['name'])

lee

In [8]:
print(type(d2))

<class 'dict'>

In [12]:
dk = '{"name":"혼공파","author":"박해선","year":2022}'
d3 = json.loads(dk)
print(d3['name'])

혼공파

In [14]:
dks = '{"name":"혼공파","author":["박해선","이형민"],"year":2022}'
print(json.loads(dks)['author'][1])

이형민

In [28]:
d5 = """
[
  {"name":"lee","author":1},
  {"name":"kim","author":1}
]
"""

d6 = json.loads(d5)
print(d6)

[{'name': 'lee', 'author': 1}, {'name': 'kim', 'author': 1}]

In [29]:
import pandas as pd
pd.read_json(d5)

  name  author
0  lee       1
1  kim       1

In [31]:
pd.DataFrame(d6)

  name  author
0  lee       1
1  kim       1

In [34]:
s_str = """
<book>
  <name>혼공파</name>
</book>
"""

import xml.etree.ElementTree as et
book = et.fromstring(s_str)
print(book)

<Element 'book' at 0x7ff6a3044720>

In [35]:
print(book.tag)

book

In [36]:
book_childs = list(book)
print(book_childs)

[<Element 'name' at 0x7ff6a30447c0>]

In [41]:
name = book.findtext('name')
print(name)

혼공파

In [43]:
x2_str = """
<books>
<book>
  <name>혼공파</name>
  <author>이형민</author>
</book>
<book>
  <name>혼공파2</name>
  <author>김형민</author>
</book>
</books>
"""

books = et.fromstring(x2_str)
print(books.tag)

books

In [44]:
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  print(name)
  print(author)
  print()

혼공파
이형민

혼공파2
김형민

In [45]:
pd.read_xml(x2_str)

   name author
0   혼공파    이형민
1  혼공파2    김형민