In [1]:
# pandas는 시계열 데이터 분석을 위한 작업을 위해 많은 기능이 있음

In [2]:
# Date Time Index
from datetime import datetime

In [3]:
my_year = 2020
my_month=1
my_day=2
my_hour=13
my_min = 30
my_sec = 15

In [4]:
my_date = datetime(my_year,my_month,my_day)

In [5]:
my_date

datetime.datetime(2020, 1, 2, 0, 0)

In [6]:
my_date_time = datetime(my_year,my_month,my_day,my_hour,my_min,my_sec)

In [7]:
my_date_time

datetime.datetime(2020, 1, 2, 13, 30, 15)

In [9]:
my_date_time.day

2

In [10]:
import numpy as np

In [13]:
np.array(['2020-03-15','2020-03-16','2020-03-17'],dtype='datetime64[Y]')

array(['2020', '2020', '2020'], dtype='datetime64[Y]')

In [14]:
np.arange(0,10,2)

array([0, 2, 4, 6, 8])

In [17]:
np.arange('2018-06-01','2018-06-23',7,dtype='datetime64[D]')

array(['2018-06-01', '2018-06-08', '2018-06-15', '2018-06-22'],
      dtype='datetime64[D]')

In [18]:
import pandas as pd

In [19]:
pd.date_range('2020-01-01',periods=7,freq='D')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [20]:
pd.date_range('Jan 01, 2018',periods=7,freq='D')

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.to_datetime(['1/2/2018','Jan 03, 2018'])

DatetimeIndex(['2018-01-02', '2018-01-03'], dtype='datetime64[ns]', freq=None)

In [24]:
pd.to_datetime(['1/2/2018','1/2/2018'],format='%d/%m/%Y')

DatetimeIndex(['2018-02-01', '2018-02-01'], dtype='datetime64[ns]', freq=None)

In [26]:
data = np.random.rand(3,2)
cols = ['A','B']
print(data)

[[0.67104654 0.89741983]
 [0.52873332 0.35167635]
 [0.56846404 0.55594035]]

In [27]:
idx = pd.date_range('2020-01-01',periods=3,freq='D')
df = pd.DataFrame(data, index=idx, columns=cols)

In [28]:
df

                   A         B
2020-01-01  0.671047  0.897420
2020-01-02  0.528733  0.351676
2020-01-03  0.568464  0.555940

In [29]:
df.index.max()

Timestamp('2020-01-03 00:00:00', freq='D')

In [30]:
df.index.argmax()

2